@use "../../../../assets/scssGlobals/functions" as rem;
@use "../../../../assets/scssGlobals/functions" as em;
@use "../../../../assets/scssGlobals/fontstyles" as roboto;
@use "../../../../assets/scssGlobals/variables" as color;

.headerNav {
  display: flex;
  width: 100%;
  height: 100px;
  padding-inline: 10px;
  justify-content: space-between;
  align-items: center;
  font-family: roboto.$roboto-regular;
  &__Logo {
    h1 {
      color: color.$color-white;
    }
  }
  &__navBar {
    nav {
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style-type: none;
          display: inline-block;
          margin-inline: 10px;
          a {
            text-decoration: none;
            font-size: rem.rem(20px);
            color: color.$color-white;
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .headerNav {
    display: none;
  }
}
