<form action="" [formGroup]="userInfo" (ngSubmit)="submitFunct()">
  <div class="formDiv">
    <h1>Sign Up!</h1>
    <label for="">
      <input
        type="text"
        name=""
        id=""
        placeholder="Username"
        class="userNameValue"
        formControlName="userName"
      />
    </label>

    <div
      *ngIf="
        userInfo.controls['userName'].invalid &&
        (userInfo.controls['userName'].touched ||
          userInfo.controls['userName'].dirty)
      "
    >
      <span
        *ngIf="userInfo.controls['userName'].errors?.['required']"
        class="testError"
      >
        this is required
      </span>

      <span
        *ngIf="userInfo.controls['userName'].errors?.['userUpperCase']"
        class="testError"
      >
        Username shouldnt have uppercase letter
      </span>


      <span
        *ngIf="userInfo.controls['userName'].errors?.['userLengthCheck']"
        class="testError"
      >
      Username should be atleast 6 characters
      </span>


      <span
        *ngIf="userInfo.controls['userName'].errors?.['spaceCheck']"
        class="testError"
      >
      Username shouldnt have space or whitespace
      </span>


      <span
        *ngIf="userInfo.controls['userName'].errors?.['userCheck']"
        class="testError"
      >
      Username should have 3 letters or 3 numbers
      </span>
    </div>

    <label for="">
      <input
        type="text"
        name=""
        id=""
        placeholder="Firstname"
        formControlName="firstName"
      />
    </label>

    <label for="">
      <input
        type="text"
        name=""
        id=""
        placeholder="Lastname"
        formControlName="lastName"
      />
    </label>

    <label for="">
      <input
        type="email"
        name=""
        id=""
        placeholder="Email Address"
        formControlName="emailAd"
      />
    </label>

    <label for="">
      <input
        type="date"
        name=""
        id=""
        placeholder="Birthdate"
        formControlName="birthDate"
      />
    </label>

    <label for="">
      <input
        type="password"
        name=""
        id=""
        placeholder="Password"
        formControlName="password"
      />
    </label>
    <label for="">
      <input
        type="password"
        name=""
        id=""
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
    </label>

    <button type="submit" [disabled]="userInfo.invalid">Register</button>
  </div>
</form>
